body{ 
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: rgba(255, 255, 255, 0.322);
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    animation-name: bgMove;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    text-align: center;
    font-family: 'VT323', monospace;



    background-color: rgba(0, 0, 0, 0.356);
    background-blend-mode: overlay;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
a{
    text-decoration: none;
    color: inherit;
}

@keyframes bgMove{
    0%{background-image: url(img/background1.jpg);
        background-color: rgba(0, 0, 0, 0.356);}
    10%{background-color: rgba(255, 255, 255, 0);}
    16%{background-image: url(img/background1.jpg)}
    24%{background-color: rgba(0, 0, 0, 0.356);}
    28%{background-color: rgba(255, 255, 255, 0);}
    32%{background-image: url(img/background2.jpg)}
    38%{background-color: rgba(0, 0, 0, 0.356);}
    42%{background-color: rgba(255, 255, 255, 0);}
    48%{background-image: url(img/background3.jpg)}
    54%{background-color: rgba(0, 0, 0, 0.356);}
    58%{background-color: rgba(255, 255, 255, 0);}
    64%{background-image: url(img/background4.jpg)}
    70%{background-color: rgba(0, 0, 0, 0.356);}
    74%{background-color: rgba(255, 255, 255, 0);}
    80%{background-image: url(img/background5.jpg)}
    86%{background-color: rgba(0, 0, 0, 0.356);}
    90%{background-color: rgba(255, 255, 255, 0);}
    96%{background-image: url(img/background6.jpg)}
    100%{background-image: url(img/background1.jpg)}

}
#menu-body-container{
    text-align: center;
    position: fixed;
    width: 100%;
}
#sound-icon{
    color: whitesmoke;
    position: fixed;
    float: right;
    font-size: 30px;
    margin: 10px;
    z-index: 1;
}
#sound-icon > i{
    opacity: 0;
}
#sound-icon:active{
    color: rgb(255 222 100);
}
#menu-logo{
    width: 520px;
    margin: 220px;
    transition: 0.5s ease;
}
#menu-logo:hover{
    width: 600px;
}
button{
    background-color: inherit;
    border: none;
}
#menu-options > button{
    display:block;
    margin: auto;
    color: yellow;
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-shadow: 1px 2px 0px black;
    
}
#menu-options > button:hover{
    color: rgb(247, 89, 89);
}
#menu-options{
    margin-top: 100px;
}

/******************************************** modals*/
.modal{
    position: fixed;
    z-index: 1;
    margin-left: 30%;
    margin-top: 1200px;
    transition: 0.5s ease;
    background-color: rgb(255 222 100);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
}
.modal > strong{
    color:rgb(255, 145, 0);
    margin: 5px;
}
.btn-return{
    float: right;
    color: rgb(255, 145, 0);
    border-radius: 54px;
    margin-right: 5px;
    font-size: 25px;
}
#inst-btn-next{
    float: right;
    font-size: 30px;
    margin: 5px;
    color: rgb(255, 145, 0);
}
#inst-btn-prev{
    float: left;
    font-size: 30px;
    margin: 5px;
    color: rgb(255, 145, 0);
}
#inst-btn-prev:active,#inst-btn-next:active,.btn-return:active{
    color: yellow;
}
#instruction-img{
    margin: 10px;
    width: 90%;
    border-radius: 15px;
}
.modal-content{
    background-color:rgb(255 250 170);
    border: 5px solid rgb(255 220 100);
    border-radius: 15px;
    padding: 15px;

}
/****************************/
#modal-play{
    z-index: -1;
    opacity: 0;
    position: fixed;
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 1s ease-in;
}
#modal-play-left{
    float: left;
    margin-left: 5%;
    margin-top: 10%;
    position: fixed;
    margin-bottom: 10px;
    bottom: 0;
}
#modal-play-right{
    float: right;
    margin-top: 10%;
    margin-right: 5%;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}
#modal-play-center{
    margin: auto;
    margin-top: 10%;
}
.talkingimg{
    min-height: 500px;
}
#modal-play-subs{
    height: 15%;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    text-align: left;
    font-size: 27px;
}
#modal-play-divbottom > strong{
    color: rgb(239 64 54);
    letter-spacing: 10px;
}
#btn-continue{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    color: white;
    text-shadow: 1px 1px 10px rgb(2, 2, 2);
    transition: 0.5s ease-in;
    font-size: 30px;
}
